
.Title-me .heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation{
    z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 37px;
	height: 37px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}

.Title-me{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    margin-top: -125px;
    text-align: center;
}

.Title-me .heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.Title-me .heading .main{
    font-size: 50px;
}

.Title-me .heading .sub{
    font-size: 23px;
}

.aboutImage{
   max-width: 100%;
    margin-right: 10px;

}

.section{
	padding: 100px 0;
}

.mycol{
    margin-top: 45px;

}

.skillsSec,
.contactSec{
    background-color: #1B9CFC;
    color: #fff;
}

.skill{
    text-align: center;
    margin-left: 10px;
}

.chart{
    position: relative;
    width: 152px;
    height: 152px;
    text-align: center;
    display: inline-block;
}

.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent{
    color: #fff;
    line-height: 152px;
    display: inline-block;
    font-size: 26px;
}


.chart .percent:after{
  content: '%';
}

.squareItem{
    margin-left: 35px;
    position: relative;
}


.squareInnerContainer{
    position: relative;
    padding: 50px 15px 35px;
    border: 2px solid #444;
    border-top: none;
    text-align: center;
}

.squareInnerContainer:before,
.squareInnerContainer:after{
	position: absolute;
	content: '';
	width: 30%;
	top: 0;
	border-bottom: 2px solid #444;
}

.squareInnerContainer:before{
    right: 0;
}

.squareInnerContainer:after{
    left: 0;
}

.squareContent h2{
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
    color: #1B9CFC ;
}

.squareContent h3{
	font-size: 15px;
	margin: 0;
	font-weight: 600;
}

.squareIcon{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 50px;
	font-size: 45px;
	margin-left: -40px;
	color: #444;

}

.contactBtn{
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    margin-top: 22px;
    border: 1px solid #fff;
    border-radius: 2%;
}

.contactBtn:hover{
    text-decoration: none;
    color:  #1B9CFC;
    background-color: #fff;
}

.filter a{
    color: #1B9CFC;
    border: 1px solid #1B9CFC;
    padding: 10px 18px;
    display: block;
}

.filter li{
  display: inline-block;
    padding: 5px;
}
    
.filter .current{
    background-color: #1B9CFC;
    color: #fff;
    border-color: #1B9CFC;
}

.filter{
    width: 100%;
    text-align: center;
}

.section .heading{
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
}

.items li{
    display: inline-block;
    padding: 5px;
    
}

.itemsContainer{
    width: 100%;
}

.items li img{
    width: 100%;
    
    -webkit-transition: all 0.3s linear, 1s;
    -ms-transition: all 0.3s linear, 1s;
    -mz-transition: all 0.3s linear, 1s;
    -o-transition: all 0.3s linear, 1s;
    -transition: all 0.3s linear, 1s;

}

.items .item{
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons{
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
    
}

.items .icons i{
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
   
}

.items a{
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    background-color: #1B9CFC;
    
    -webkit-transition: all 0.3s linear, 0.3s;
    -ms-transition: all 0.3s linear, 0.3s;
    -mz-transition: all 0.3s linear, 0.3s;
    -o-transition: all 0.3s linear, 0.3s;
    -transition: all 0.3s linear, 0.3s;
}

.items .imageOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; 
    
    -webkit-transition: all 0.3s linear, 1s;
    -ms-transition: all 0.3s linear, 1s;
    -mz-transition: all 0.3s linear, 1s;
    -o-transition: all 0.3s linear, 1s;
    -transition: all 0.3s linear, 1s;
}

.items .item:hover .imageOverlay{
    opacity: 1;
}

.items .openBtn{
    float: left;
    left: -200px;
    
}

.items .projectLink{
    float: right;
    right: -200px;
    
}

.items .item:hover .openBtn{
    left: 0px;
}

.items .item:hover .projectLink{
    right: 0px;
}

.items .item:hover img{
    -webkit-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    -mz-transform: scale(1.05,1.05);
    -o-transform: scale(1.05,1.05);
    -transform: scale(1.05,1.05);
}

.items{
    padding: 0;
}

.copyrightSec p{
    font-size: 22px;
    margin: 0;
}

.copyrightSec {
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
}

#navigation{
    background-color: #1B9CFC;
    color: #fff;
    padding: 20px 10px;
    z-index: 999;
    width: 100%;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a{
    color: #fff;
}

.navbar-brand,
.navbar-brand:hover{
    color: #fff;
}

.navbar-toggler-icon{
    background-image: url(../img/icons/menu.png);
    background-size: 100%;
}

.fixedNav #navigation{
    position: fixed;
    top: 0;
}

.loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #77b3d4;
    top: 0px;
    z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s ease;
	
}
/*
.loader .inner{
    width: 100%;
    height: 100%;
    background: url(../img/loader.gif) center center no-repeat;
}

*/

.cloud1, .cloud2, .cloud3{
	position: absolute;
	height: 130px;
	right: 0%;
	z-index: -1;
}

.cloud1{
	top: 25%;
	transform: translate(100%, -25%);
	animation: clouds 3s ease infinite;
}

.cloud2{
	top: 50%;
	transform: translate(100%, -50%);
	animation: clouds 3s ease infinite 2s;
}

.cloud3{
	top: 75%;
	transform: translate(100%, -75%);
	animation: clouds 3s ease infinite 1.7s;
}

.airplane{
	height: 250px;
	animation: airplane 0.9s ease infinite alternate;
}

.loader h3{
	position: absolute;
	top: 75%;
	transform: translateY(-75%);
	font-size: 30px;
	color: #fff;
	font-weight: 200;
	
}

.loader-finish{
	opacity: 0;
	pointer-events: none;
}

@keyframes airplane{
	from{
		
		transform: translateY(0px);
	}
	to{
		transform: translateY(53px);
	}
}

@keyframes clouds{
	from{
		
		right: 0%;
	}
	to{
		right: 120%;
	}
}









